<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Redirect Checker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>URL Redirect Checker</h1>
        <form action="/check_redirects" method="POST">
            <label for="url">Enter URL:</label><br>
            <input type="text" id="url" name="url"><br><br>
            <input type="submit" value="Check">
        </form>
    </div>
</body>
</html>
